/* Palettes are copied from @catppuccin/palette/css/catppuccin.css
 * I removed the flavor section in the variables' names.
 */

/* Latte */
:root {
  --ctp-rosewater: #dc8a78;
  --ctp-rosewater-rgb: 220 138 120;
  --ctp-rosewater-hsl: 10.800 58.824% 66.667%;
  --ctp-flamingo: #dd7878;
  --ctp-flamingo-rgb: 221 120 120;
  --ctp-flamingo-hsl: 0.000 59.763% 66.863%;
  --ctp-pink: #ea76cb;
  --ctp-pink-rgb: 234 118 203;
  --ctp-pink-hsl: 316.034 73.418% 69.020%;
  --ctp-mauve: #8839ef;
  --ctp-mauve-rgb: 136 57 239;
  --ctp-mauve-hsl: 266.044 85.047% 58.039%;
  --ctp-red: #d20f39;
  --ctp-red-rgb: 210 15 57;
  --ctp-red-hsl: 347.077 86.667% 44.118%;
  --ctp-maroon: #e64553;
  --ctp-maroon-rgb: 230 69 83;
  --ctp-maroon-hsl: 354.783 76.303% 58.627%;
  --ctp-peach: #fe640b;
  --ctp-peach-rgb: 254 100 11;
  --ctp-peach-hsl: 21.975 99.184% 51.961%;
  --ctp-yellow: #df8e1d;
  --ctp-yellow-rgb: 223 142 29;
  --ctp-yellow-hsl: 34.948 76.984% 49.412%;
  --ctp-green: #40a02b;
  --ctp-green-rgb: 64 160 43;
  --ctp-green-hsl: 109.231 57.635% 39.804%;
  --ctp-teal: #179299;
  --ctp-teal-rgb: 23 146 153;
  --ctp-teal-hsl: 183.231 73.864% 34.510%;
  --ctp-sky: #04a5e5;
  --ctp-sky-rgb: 4 165 229;
  --ctp-sky-hsl: 197.067 96.567% 45.686%;
  --ctp-sapphire: #209fb5;
  --ctp-sapphire-rgb: 32 159 181;
  --ctp-sapphire-hsl: 188.859 69.953% 41.765%;
  --ctp-blue: #1e66f5;
  --ctp-blue-rgb: 30 102 245;
  --ctp-blue-hsl: 219.907 91.489% 53.922%;
  --ctp-lavender: #7287fd;
  --ctp-lavender-rgb: 114 135 253;
  --ctp-lavender-hsl: 230.935 97.203% 71.961%;
  --ctp-text: #4c4f69;
  --ctp-text-rgb: 76 79 105;
  --ctp-text-hsl: 233.793 16.022% 35.490%;
  --ctp-subtext1: #5c5f77;
  --ctp-subtext1-rgb: 92 95 119;
  --ctp-subtext1-hsl: 233.333 12.796% 41.373%;
  --ctp-subtext0: #6c6f85;
  --ctp-subtext0-rgb: 108 111 133;
  --ctp-subtext0-hsl: 232.800 10.373% 47.255%;
  --ctp-overlay2: #7c7f93;
  --ctp-overlay2-rgb: 124 127 147;
  --ctp-overlay2-hsl: 232.174 9.623% 53.137%;
  --ctp-overlay1: #8c8fa1;
  --ctp-overlay1-rgb: 140 143 161;
  --ctp-overlay1-hsl: 231.429 10.048% 59.020%;
  --ctp-overlay0: #9ca0b0;
  --ctp-overlay0-rgb: 156 160 176;
  --ctp-overlay0-hsl: 228.000 11.236% 65.098%;
  --ctp-surface2: #acb0be;
  --ctp-surface2-rgb: 172 176 190;
  --ctp-surface2-hsl: 226.667 12.162% 70.980%;
  --ctp-surface1: #bcc0cc;
  --ctp-surface1-rgb: 188 192 204;
  --ctp-surface1-hsl: 225.000 13.559% 76.863%;
  --ctp-surface0: #ccd0da;
  --ctp-surface0-rgb: 204 208 218;
  --ctp-surface0-hsl: 222.857 15.909% 82.745%;
  --ctp-base: #eff1f5;
  --ctp-base-rgb: 239 241 245;
  --ctp-base-hsl: 220.000 23.077% 94.902%;
  --ctp-mantle: #e6e9ef;
  --ctp-mantle-rgb: 230 233 239;
  --ctp-mantle-hsl: 220.000 21.951% 91.961%;
  --ctp-crust: #dce0e8;
  --ctp-crust-rgb: 220 224 232;
  --ctp-crust-hsl: 220.000 20.690% 88.627%;
}

/* frappe */
/*:root {
  --ctp-rosewater: #f2d5cf;
  --ctp-rosewater-rgb: 242 213 207;
  --ctp-rosewater-hsl: 10.286 57.377% 88.039%;
  --ctp-flamingo: #eebebe;
  --ctp-flamingo-rgb: 238 190 190;
  --ctp-flamingo-hsl: 0.000 58.537% 83.922%;
  --ctp-pink: #f4b8e4;
  --ctp-pink-rgb: 244 184 228;
  --ctp-pink-hsl: 316.000 73.171% 83.922%;
  --ctp-mauve: #ca9ee6;
  --ctp-mauve-rgb: 202 158 230;
  --ctp-mauve-hsl: 276.667 59.016% 76.078%;
  --ctp-red: #e78284;
  --ctp-red-rgb: 231 130 132;
  --ctp-red-hsl: 358.812 67.785% 70.784%;
  --ctp-maroon: #ea999c;
  --ctp-maroon-rgb: 234 153 156;
  --ctp-maroon-hsl: 357.778 65.854% 75.882%;
  --ctp-peach: #ef9f76;
  --ctp-peach-rgb: 239 159 118;
  --ctp-peach-hsl: 20.331 79.085% 70.000%;
  --ctp-yellow: #e5c890;
  --ctp-yellow-rgb: 229 200 144;
  --ctp-yellow-hsl: 39.529 62.044% 73.137%;
  --ctp-green: #a6d189;
  --ctp-green-rgb: 166 209 137;
  --ctp-green-hsl: 95.833 43.902% 67.843%;
  --ctp-teal: #81c8be;
  --ctp-teal-rgb: 129 200 190;
  --ctp-teal-hsl: 171.549 39.227% 64.510%;
  --ctp-sky: #99d1db;
  --ctp-sky-rgb: 153 209 219;
  --ctp-sky-hsl: 189.091 47.826% 72.941%;
  --ctp-sapphire: #85c1dc;
  --ctp-sapphire-rgb: 133 193 220;
  --ctp-sapphire-hsl: 198.621 55.414% 69.216%;
  --ctp-blue: #8caaee;
  --ctp-blue-rgb: 140 170 238;
  --ctp-blue-hsl: 221.633 74.242% 74.118%;
  --ctp-lavender: #babbf1;
  --ctp-lavender-rgb: 186 187 241;
  --ctp-lavender-hsl: 238.909 66.265% 83.725%;
  --ctp-text: #c6d0f5;
  --ctp-text-rgb: 198 208 245;
  --ctp-text-hsl: 227.234 70.149% 86.863%;
  --ctp-subtext1: #b5bfe2;
  --ctp-subtext1-rgb: 181 191 226;
  --ctp-subtext1-hsl: 226.667 43.689% 79.804%;
  --ctp-subtext0: #a5adce;
  --ctp-subtext0-rgb: 165 173 206;
  --ctp-subtext0-hsl: 228.293 29.496% 72.745%;
  --ctp-overlay2: #949cbb;
  --ctp-overlay2-rgb: 148 156 187;
  --ctp-overlay2-hsl: 227.692 22.286% 65.686%;
  --ctp-overlay1: #838ba7;
  --ctp-overlay1-rgb: 131 139 167;
  --ctp-overlay1-hsl: 226.667 16.981% 58.431%;
  --ctp-overlay0: #737994;
  --ctp-overlay0-rgb: 115 121 148;
  --ctp-overlay0-hsl: 229.091 13.360% 51.569%;
  --ctp-surface2: #626880;
  --ctp-surface2-rgb: 98 104 128;
  --ctp-surface2-hsl: 228.000 13.274% 44.314%;
  --ctp-surface1: #51576d;
  --ctp-surface1-rgb: 81 87 109;
  --ctp-surface1-hsl: 227.143 14.737% 37.255%;
  --ctp-surface0: #414559;
  --ctp-surface0-rgb: 65 69 89;
  --ctp-surface0-hsl: 230.000 15.584% 30.196%;
  --ctp-base: #303446;
  --ctp-base-rgb: 48 52 70;
  --ctp-base-hsl: 229.091 18.644% 23.137%;
  --ctp-mantle: #292c3c;
  --ctp-mantle-rgb: 41 44 60;
  --ctp-mantle-hsl: 230.526 18.812% 19.804%;
  --ctp-crust: #232634;
  --ctp-crust-rgb: 35 38 52;
  --ctp-crust-hsl: 229.412 19.540% 17.059%;
}*/

/* macchiato */
/* :root {
  --ctp-rosewater: #f4dbd6;
  --ctp-rosewater-rgb: 244 219 214;
  --ctp-rosewater-hsl: 10.000 57.692% 89.804%;
  --ctp-flamingo: #f0c6c6;
  --ctp-flamingo-rgb: 240 198 198;
  --ctp-flamingo-hsl: 0.000 58.333% 85.882%;
  --ctp-pink: #f5bde6;
  --ctp-pink-rgb: 245 189 230;
  --ctp-pink-hsl: 316.071 73.684% 85.098%;
  --ctp-mauve: #c6a0f6;
  --ctp-mauve-rgb: 198 160 246;
  --ctp-mauve-hsl: 266.512 82.692% 79.608%;
  --ctp-red: #ed8796;
  --ctp-red-rgb: 237 135 150;
  --ctp-red-hsl: 351.176 73.913% 72.941%;
  --ctp-maroon: #ee99a0;
  --ctp-maroon-rgb: 238 153 160;
  --ctp-maroon-hsl: 355.059 71.429% 76.667%;
  --ctp-peach: #f5a97f;
  --ctp-peach-rgb: 245 169 127;
  --ctp-peach-hsl: 21.356 85.507% 72.941%;
  --ctp-yellow: #eed49f;
  --ctp-yellow-rgb: 238 212 159;
  --ctp-yellow-hsl: 40.253 69.912% 77.843%;
  --ctp-green: #a6da95;
  --ctp-green-rgb: 166 218 149;
  --ctp-green-hsl: 105.217 48.252% 71.961%;
  --ctp-teal: #8bd5ca;
  --ctp-teal-rgb: 139 213 202;
  --ctp-teal-hsl: 171.081 46.835% 69.020%;
  --ctp-sky: #91d7e3;
  --ctp-sky-rgb: 145 215 227;
  --ctp-sky-hsl: 188.780 59.420% 72.941%;
  --ctp-sapphire: #7dc4e4;
  --ctp-sapphire-rgb: 125 196 228;
  --ctp-sapphire-hsl: 198.641 65.605% 69.216%;
  --ctp-blue: #8aadf4;
  --ctp-blue-rgb: 138 173 244;
  --ctp-blue-hsl: 220.189 82.813% 74.902%;
  --ctp-lavender: #b7bdf8;
  --ctp-lavender-rgb: 183 189 248;
  --ctp-lavender-hsl: 234.462 82.278% 84.510%;
  --ctp-text: #cad3f5;
  --ctp-text-rgb: 202 211 245;
  --ctp-text-hsl: 227.442 68.254% 87.647%;
  --ctp-subtext1: #b8c0e0;
  --ctp-subtext1-rgb: 184 192 224;
  --ctp-subtext1-hsl: 228.000 39.216% 80.000%;
  --ctp-subtext0: #a5adcb;
  --ctp-subtext0-rgb: 165 173 203;
  --ctp-subtext0-hsl: 227.368 26.761% 72.157%;
  --ctp-overlay2: #939ab7;
  --ctp-overlay2-rgb: 147 154 183;
  --ctp-overlay2-hsl: 228.333 20.000% 64.706%;
  --ctp-overlay1: #8087a2;
  --ctp-overlay1-rgb: 128 135 162;
  --ctp-overlay1-hsl: 227.647 15.455% 56.863%;
  --ctp-overlay0: #6e738d;
  --ctp-overlay0-rgb: 110 115 141;
  --ctp-overlay0-hsl: 230.323 12.351% 49.216%;
  --ctp-surface2: #5b6078;
  --ctp-surface2-rgb: 91 96 120;
  --ctp-surface2-hsl: 229.655 13.744% 41.373%;
  --ctp-surface1: #494d64;
  --ctp-surface1-rgb: 73 77 100;
  --ctp-surface1-hsl: 231.111 15.607% 33.922%;
  --ctp-surface0: #363a4f;
  --ctp-surface0-rgb: 54 58 79;
  --ctp-surface0-hsl: 230.400 18.797% 26.078%;
  --ctp-base: #24273a;
  --ctp-base-rgb: 36 39 58;
  --ctp-base-hsl: 231.818 23.404% 18.431%;
  --ctp-mantle: #1e2030;
  --ctp-mantle-rgb: 30 32 48;
  --ctp-mantle-hsl: 233.333 23.077% 15.294%;
  --ctp-crust: #181926;
  --ctp-crust-rgb: 24 25 38;
  --ctp-crust-hsl: 235.714 22.581% 12.157%;
}*/

/* Mocha */
[data-theme="dark"] {
  --ctp-rosewater: #f5e0dc;
  --ctp-rosewater-rgb: 245 224 220;
  --ctp-rosewater-hsl: 9.600 55.556% 91.176%;
  --ctp-flamingo: #f2cdcd;
  --ctp-flamingo-rgb: 242 205 205;
  --ctp-flamingo-hsl: 0.000 58.730% 87.647%;
  --ctp-pink: #f5c2e7;
  --ctp-pink-rgb: 245 194 231;
  --ctp-pink-hsl: 316.471 71.831% 86.078%;
  --ctp-mauve: #cba6f7;
  --ctp-mauve-rgb: 203 166 247;
  --ctp-mauve-hsl: 267.407 83.505% 80.980%;
  --ctp-red: #f38ba8;
  --ctp-red-rgb: 243 139 168;
  --ctp-red-hsl: 343.269 81.250% 74.902%;
  --ctp-maroon: #eba0ac;
  --ctp-maroon-rgb: 235 160 172;
  --ctp-maroon-hsl: 350.400 65.217% 77.451%;
  --ctp-peach: #fab387;
  --ctp-peach-rgb: 250 179 135;
  --ctp-peach-hsl: 22.957 92.000% 75.490%;
  --ctp-yellow: #f9e2af;
  --ctp-yellow-rgb: 249 226 175;
  --ctp-yellow-hsl: 41.351 86.047% 83.137%;
  --ctp-green: #a6e3a1;
  --ctp-green-rgb: 166 227 161;
  --ctp-green-hsl: 115.455 54.098% 76.078%;
  --ctp-teal: #94e2d5;
  --ctp-teal-rgb: 148 226 213;
  --ctp-teal-hsl: 170.000 57.353% 73.333%;
  --ctp-sky: #89dceb;
  --ctp-sky-rgb: 137 220 235;
  --ctp-sky-hsl: 189.184 71.014% 72.941%;
  --ctp-sapphire: #74c7ec;
  --ctp-sapphire-rgb: 116 199 236;
  --ctp-sapphire-hsl: 198.500 75.949% 69.020%;
  --ctp-blue: #89b4fa;
  --ctp-blue-rgb: 137 180 250;
  --ctp-blue-hsl: 217.168 91.870% 75.882%;
  --ctp-lavender: #b4befe;
  --ctp-lavender-rgb: 180 190 254;
  --ctp-lavender-hsl: 231.892 97.368% 85.098%;
  --ctp-text: #cdd6f4;
  --ctp-text-rgb: 205 214 244;
  --ctp-text-hsl: 226.154 63.934% 88.039%;
  --ctp-subtext1: #bac2de;
  --ctp-subtext1-rgb: 186 194 222;
  --ctp-subtext1-hsl: 226.667 35.294% 80.000%;
  --ctp-subtext0: #a6adc8;
  --ctp-subtext0-rgb: 166 173 200;
  --ctp-subtext0-hsl: 227.647 23.611% 71.765%;
  --ctp-overlay2: #9399b2;
  --ctp-overlay2-rgb: 147 153 178;
  --ctp-overlay2-hsl: 228.387 16.757% 63.725%;
  --ctp-overlay1: #7f849c;
  --ctp-overlay1-rgb: 127 132 156;
  --ctp-overlay1-hsl: 229.655 12.775% 55.490%;
  --ctp-overlay0: #6c7086;
  --ctp-overlay0-rgb: 108 112 134;
  --ctp-overlay0-hsl: 230.769 10.744% 47.451%;
  --ctp-surface2: #585b70;
  --ctp-surface2-rgb: 88 91 112;
  --ctp-surface2-hsl: 232.500 12.000% 39.216%;
  --ctp-surface1: #45475a;
  --ctp-surface1-rgb: 69 71 90;
  --ctp-surface1-hsl: 234.286 13.208% 31.176%;
  --ctp-surface0: #313244;
  --ctp-surface0-rgb: 49 50 68;
  --ctp-surface0-hsl: 236.842 16.239% 22.941%;
  --ctp-base: #1e1e2e;
  --ctp-base-rgb: 30 30 46;
  --ctp-base-hsl: 240.000 21.053% 14.902%;
  --ctp-mantle: #181825;
  --ctp-mantle-rgb: 24 24 37;
  --ctp-mantle-hsl: 240.000 21.311% 11.961%;
  --ctp-crust: #11111b;
  --ctp-crust-rgb: 17 17 27;
  --ctp-crust-hsl: 240.000 22.727% 8.627%;
}

:root {
  --hl-color: var(--ctp-text);
  --hl-bg: var(--ctp-base);
  --hltools-bg: var(--ctp-surface0);
  --hltools-color: var(--ctp-text);
  --hlnumber-bg: var(--ctp-mantle);
  --hlnumber-color: var(--ctp-text);
  --hlscrollbar-bg: var(--ctp-base);
  --hlexpand-bg: linear-gradient(rgba(var(--ctp-base-rgb) / 0.6), rgba(var(--ctp-base-rgb) / 0.9));
  --hl-mark: rgb(from var(--ctp-blue) r g b/20%);
}

#article-container figure.highlight .hljs{color:var(--ctp-text);background:var(--ctp-base)}code .hljs-keyword{color:var(--ctp-mauve)}code .hljs-built_in{color:var(--ctp-red)}code .hljs-type{color:var(--ctp-yellow)}code .hljs-literal{color:var(--ctp-peach)}code .hljs-number{color:var(--ctp-peach)}code .hljs-operator{color:var(--ctp-sky)}code .hljs-punctuation{color:var(--ctp-subtext1)}code .hljs-property{color:var(--ctp-teal)}code .hljs-regexp{color:var(--ctp-pink)}code .hljs-string{color:var(--ctp-green)}code .hljs-char.escape_{color:var(--ctp-green)}code .hljs-subst{color:var(--ctp-subtext0)}code .hljs-symbol{color:var(--ctp-flamingo)}code .hljs-variable{color:var(--ctp-mauve)}code .hljs-variable.language_{color:var(--ctp-mauve)}code .hljs-variable.constant_{color:var(--ctp-peach)}code .hljs-title{color:var(--ctp-blue)}code .hljs-title.class_{color:var(--ctp-yellow)}code .hljs-title.function_{color:var(--ctp-blue)}code .hljs-params{color:var(--ctp-text)}code .hljs-comment{color:var(--ctp-overlay2)}code .hljs-doctag{color:var(--ctp-red)}code .hljs-meta{color:var(--ctp-peach)}code .hljs-section{color:var(--ctp-blue)}code .hljs-tag{color:var(--ctp-teal)}code .hljs-name{color:var(--ctp-mauve)}code .hljs-attr{color:var(--ctp-blue)}code .hljs-attribute{color:var(--ctp-green)}code .hljs-bullet{color:var(--ctp-teal)}code .hljs-code{color:var(--ctp-green)}code .hljs-emphasis{color:var(--ctp-red);font-style:italic}code .hljs-strong{color:var(--ctp-red);font-weight:bold}code .hljs-formula{color:var(--ctp-teal)}code .hljs-link{color:var(--ctp-sapphire);font-style:italic}code .hljs-quote{color:var(--ctp-green);font-style:italic}code .hljs-selector-tag{color:var(--ctp-yellow)}code .hljs-selector-id{color:var(--ctp-blue)}code .hljs-selector-class{color:var(--ctp-teal)}code .hljs-selector-attr{color:var(--ctp-mauve)}code .hljs-selector-pseudo{color:var(--ctp-teal)}code .hljs-template-tag{color:var(--ctp-flamingo)}code .hljs-template-variable{color:var(--ctp-flamingo)}code .hljs-addition{color:var(--ctp-green);background:rgb(from var(--ctp-green) r g b/15%)}code .hljs-deletion{color:var(--ctp-red);background:rgb(from var(--ctp-red) r g b/15%)}

/* override codeblock marked color */
.container figure.highlight mark {
    color: var(--hl-color) !important;
    background-color: var(--hl-mark) !important;
    display: inline-block;
    line-height: 1em;
    box-decoration-break: clone;
}
